############################
# 📦 Dependencies
############################
node_modules/

############################
# 🖥 Front (React)
############################
front/build/
front/dist/
front/coverage/

############################
# 🚀 Back (NestJS)
############################
back/dist/
back/coverage/

############################
# 🔐 Environment Variables
############################
.env
.env.*
front/.env*
back/.env*

############################
# 📝 Lo